@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu{
    z-index: 2;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100px;
    align-items: center;
    text-align: center;
    background-color: #222;
}
.menu-img{
    width: 50px;
}
.header-content{
    height: 100vh;
    display: flex;
}
.header-left{
   width: 50%;
   display: flex;
   flex-wrap: wrap;
}
.header-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.right-btn{
    background-color:whitesmoke;
    border-radius: 15px;
    color: #222;
    padding: 5px 10px;
    width: 45%;
    flex-grow: 1;
    margin: 10px;
}
.header-item{
    background-color:rgb(0, 115, 255);
    width: 50%;
    height: 50%;
}
.item-1{
    background-color: hsl(200deg 51% 28%);
}
.item-2{
    background-color: hsl(0deg 100% 71%);
}
.item-3{
    background-color: hsl(43deg 100% 81%);
}
.item-4{
    background-color: hsl(194deg 68% 65%);
    border-radius: 0px 0px 130px 0px;
}
h1{
    font-weight: 300;
    font-size: 84px;
    text-align: right;
}
span{
    font-weight: 900;
}
.about{
    background-color: rgb(118, 180, 218);
}
.about-content{
    height: 100vh;
    display: flex;
    position: relative;
}
h2{
    position: absolute; top: 0; left: 0;
    color: rgba(34, 34, 34, 0.324);
    font-size: 65px;
}
h4{
    font-size:30px ;
    color:rgba(34, 34, 34, 0.55) ;
}
.about-text{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.653);
    line-height: 30px;
}
.about-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-right{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.about-items-1{
    background-color: beige;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 13px 13px rgb(100, 137, 160);
}
.about-items-2{
    background-color: greenyellow;
    width: 170px;
    height: 170px;
    align-self: center;
    border-radius: 40px 0px 40px 0px;
    box-shadow: 16px 16px rgb(100, 137, 160);
}
.about-items-3{
    background-color: rgb(13, 28, 114);
    width: 190px;
    height: 190px;
    align-self: flex-end;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 13px 13px rgb(100, 137, 160);
}
.modern{
    position: relative;
    background-color: #9bd8de;
}
.modern-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}
.modern-text{
    font-size: 35px;
    width: 42%;
    line-height: 45px;
    align-self: center;
}
.modern-img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.photo{
    background-color: rgba(161, 138, 144, 0.625);
}
.photo-content{
    height: 100vh;
    display: flex;
}
.photo-left{
    background-image: url("photoimg.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 500px;
    flex-grow: 1;
}
.photo-right{
    position: relative;
    flex-basis: 500px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:10px 0px 0px 20px;
    
}
.photo-img{
    width: 80%;
    align-self: center;
    position: relative; bottom: 20%;
}
.gallery{
    background-color: rgb(252, 219, 158);
}
h3{
    padding: 20px 0px;
    font-size:30px ;
    color:rgba(34, 34, 34, 0.55) ;
}
.gallery-content{
    display: flex;
    flex-wrap: wrap; 
}
.gallery-img{
    width: 49%;
    flex-grow: 1;
    flex-basis: 270px;
}
.img-1{
    order: 7;
    height: 400px;
    object-fit: cover;
}
.img-2{
    order:6 ;
}
.img-3{
    order: 4;
} 
.img-4{
    order: 5;
} 
.img-5{
    order: 3;
} 
.img-6{
    order: 1;
} 
.img-7{
    order: 2;
} 
.contact{
    background-color: rgb(29, 82, 216);
}
.contact-content{
   height: 100vh;
   display: flex;
}
.contact-left{
    background-image: url("img/pictures/form-left.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 5;
}
.contact-center{
    flex-grow: 3;
}
.title{
    color: azure;
    margin-left: 15px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
input{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: white;
    padding:10px 20px ;
}
label{
    color: aliceblue;
    padding: 15px 0px 0px 0px;
}
input::placeholder{
    color: white;
}
select{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: white;
    padding:10px 20px ;
}
.input{
    display: flex;
    align-items: baseline;
}
.checkbox{
    margin: 0px 10px;
}
button{
    width: 200px;
    align-self: center;
    background-color: azure;
    color: rgb(9, 9, 80);
    border: none;
    margin: 20px 0px;
    padding: 7px 14px;
    border-radius: 20px;
}
.contact-right{
    background-image: url("img/pictures/form-right.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 5;
}
@media (max-width:600px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 45px;
    }
    .header-content , .about-content, .photo-content{
        flex-direction: column;
    }
    .header-left, .header-right , .about-right, .about-left, .photo-left, .photo-right{
        width: 100%;
        height: 50%;
    }
    .item-4{
        border-radius: 0px;
    }
    .modern-text{
        width: 100%;
        font-size: 25px;
    }
    .photo-img{
        display: none;
    }
    .contact-content, .modern-content{
        height: 100%;
    }
    .contact-center{
        width:100% ;
    }
    form{
        background-color: #1c3e81; 
    }
}